@import "tailwindcss";

@theme {
  --font-serif: "Newsreader", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  html {
    @apply bg-black text-white font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}
